@use "../libs/utils/fonts/fonts.scss";
@use "../libs/utils/media";
.title {
    position: relative;
    top: 0;
    left: 0;
    padding: 16px;
    &__logo {
        color: var(--orange-base);
        @include fonts.PassionOneRegular(32px, 32px);
        line-height: normal;
    }
    &__text {
        margin-top: 8px;
        color: var(--white-base);
        @include fonts.HelveticaRegular(16px, 24px);
        width: 300px;
    }
}

.layout {
    position: relative;
    &__earth {
        z-index: 1;
        position: absolute;
        top: 15%;
        left: -400px;
        @include media.desktop-small {
            left: -500px;
        }
        @media screen and (max-width: 1140px) {
            left: -600px;
        }
        @media screen and (max-width: 1000px) {
            left: -680px;
        }
        @media screen and (max-width: 450px) {
            left: -710px;
        }
        @media screen and (max-width: 400px) {
            left: -720px;
        }
    }
}
